.footer {
  font-size: 1.4rem;
  margin: 0 auto;
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: #4a4e69;
  color: #fff;

  &__column {
    display: flex;
    flex-direction: column;
    padding: 10px;
    flex-basis: 33%;

    span {
      line-height: 50px;
      border-bottom: 2px solid #f2e9e4;
      text-transform: uppercase;
      font-size: 2rem;
    }

    &-location {
      display: flex;
      line-height: 40px;

      img {
        width: 30px;
        filter: invert(99%) sepia(60%) saturate(177%) hue-rotate(270deg) brightness(115%) contrast(87%);
      }

      p {
        display: inline-block;
        margin-left: 10px;
      }
    }
  }
  &__icon {
    img {
      cursor: pointer;
      width: 30px;
      margin-top: 10px;
      margin-right: 12px;
      filter: invert(99%) sepia(60%) saturate(177%) hue-rotate(270deg) brightness(115%) contrast(87%);
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
  }
}
