.register-login {
  width: 520px;
  margin: 100px auto;
  padding: 10px 20px 20px 20px;
  border: 2px solid #4a4e69;
  border-radius: 4px;
  font-size: 1.6rem;
}

.register-login__row {
  display: block;
  position: relative;
  padding-top: 20px;
  margin: 12px 0;
}

.register-login__row--half {
  display: inline-block;
  width: 45%;
}

.register-login__row--half:nth-child(2n + 1) {
  margin-right: 10%;
}

.register-login__title {
  text-align: center;
  display: block;
  color: #4a4e69;
  border-bottom: 1px solid #ccc;
  text-transform: uppercase;
}

.register-login__form {
  width: 80%;
  margin: 0 auto;
}

.register-login__label {
  height: auto;
  font-size: 1.6rem;
  font-weight: 100;
  left: 0;
  position: absolute;
  color: #aaa;
  transition: all 500ms ease-in-out;
}

.register-login__input {
  border: none;
  outline: none;
  color: #192a56;
  font-size: 1.6rem;
  padding-left: 2px;
  width: 100%;
  height: 30px;
  border-radius: 0;
  border-bottom: 2px solid rgba(52, 101, 109, 0.5);
  transition: border-bottom 0.2s ease-in;
}

.register-login__input:focus, .register-login__input:valid {
  border-bottom: 2px solid #4a4e69;
  background-color: #e8f0fe;
}

.register-login__input:focus ~ label,
.register-login__input:valid ~ label {
  top: 0;
  color: #4a4e69;
}

.register-login__btn {
  cursor: pointer;
  border: none;
  outline: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 8px 32px;
  color: #fff;
  border-radius: 2px;
  background-color: #4a4e69;
  transition: background-color 100ms ease-in;
}

.register-login__btn:hover {
  background-color: rgba(74, 78, 105, 0.8);
}
